.contacts
    background: #010101
    padding: 100px
    display: flex
    height: 100%
    flex-wrap: wrap
    justify-content: space-between
    
.contacts__how
    width: 380px
    height: 100%
    order: 1
    margin-top: 15px
    
    div
        height: 400px
        width: 100%
        background: #D9D9D9

.contacts__inner
    display: flex
    flex-direction: column

.contacts__subtitle
    margin-bottom: 15px
    font-size: 18px

.contacts__text
    opacity: .6

.contacts__map
    order: 0
    margin: 15px 15px 0 100px

    flex: 1 1 auto
.contacts__btn
    background: #71165B
    box-shadow: 0px 22px 44px rgba(113, 22, 92, 0.3)
    cursor: pointer
    border: none
    width: 250px
    padding: 19px 0
    margin-top: 50px
    transition: .3s
    &:hover
        background: #540842
        box-shadow: 0px 22px 44px rgba(113, 22, 92, 0.3)

.contacts__block
    margin-top: 45px
    &:first-child
        margin-top: 0
    &:nth-child(2)
        a
            opacity: .6
            cursor: pointer
            transition: .3s
            &:hover
                opacity: .8
                text-decoration: none

    a
        font-family: 'Circe', sans-serif
        &:hover
            text-decoration: underline

    ul
        display: flex
        flex-direction: row
        li
            margin: 0
            margin-left: 15px
            a
                &:hover
                    text-decoration: none
            &:first-child
                margin-left: 0

.contacts__iframe_map
    border: 1px
    width: 100%
    min-height: 400px

@media screen and ( max-width: 1245px)
    .contacts__how
        order: 0
        margin-left: 100px
    .contacts__map
        order: 1
        margin: 15px 0 0 15px

@media screen and ( max-width: 1024px)
    .contacts
        padding: 100px 15px 50px 

    .contacts__map
        margin-top: 60px

@media screen and ( max-width: 790px)
    .contacts__how
        margin: 0

    .contacts__map
        order: 0
        margin-left: 0
        height: 100%

@media screen and ( max-width: 670px)
    .contacts__how
        margin: 0
        margin-top: 15px
        width: 100%
        div
            height: 396px

@media screen and ( max-width: 426px)
    .contacts__inner
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

    .contacts__how
        order: 1

    .contacts__iframe_map
        order: 0
        min-height: 100%

    .contacts__btn
        width: 100%

    .contacts__block
        width: 45%
        &:nth-child(2)
            margin-top: 0
