@font-face 
  font-family: 'Circe'
  src: url("../assets/fonts/circe.eot")
  src: url("../assets/fonts/circe.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/circe.woff2") format("woff2"),url("../assets/fonts/circe.woff") format("woff"), url("../assets/fonts/circe.ttf") format("truetype"),

@font-face 
  font-family: 'Circe Light'
  src: url("../assets/fonts/circe_light.eot")
  src: url("../assets/fonts/circe_light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/circe_light.woff2") format("woff2"),url("../assets/fonts/circe_light.woff") format("woff"), url("../assets/fonts/circe_light.ttf") format("truetype"),

@font-face
  font-family: "Vera Humana 95"
  src: url("../assets/fonts/vera_humana_95.eot")
  src: url("../assets/fonts/vera_humana_95.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/vera_humana_95.woff2") format("woff2"), url("../assets/fonts/vera_humana_95.woff") format("woff"), url("../assets/fonts/vera_humana_95.ttf") format("truetype"), url("../assets/fonts/vera_humana_95.svg#vera_humana_95") format("svg")

html,
body 
  padding: 0
  width: 100%
  min-height: 100%
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Circe Light, Segoe UI, Roboto, Vera Humana 95, Circe, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  overflow-x: hidden
  user-select: none
  color: #fff
  background: #111111

ul
  list-style: none
  padding: 0

a 
  color: inherit
  text-decoration: none
  padding: 0
  color: #fff

h1, h2, h3, h4, h5, h6
  color: #fff

p, span, button
  margin: 0
  padding: 0
  font-family: 'Circe', sans-serif
  color: #fff

h1
  font-size: 110px
  font-family: 'Vera Humana 95', cursive
  text-transform: uppercase
  font-weight: 400
  margin: 45px 0 35px

h2
  font-size: 52px
  margin: 0
  font-weight: 400
  text-transform: uppercase
  font-family: 'Vera Humana 95', cursive

h4
  text-transform: uppercase
  font-family: 'Vera Humana 95', cursive
  margin: 0
  padding: 0
  font-weight: 400

.wrapper
  display: flex
  min-height: 100%
  flex-direction: column

.logo
  text-transform: uppercase
  font-family: "Vera Humana 95", sans-serif
  font-size: 20px
  font-weight: 300
  cursor: pointer

main
  flex: 1 1 auto

button
  text-transform: uppercase

.swiper 
    width: 100%
    height: 100%
    position: static

.swiper-slide
    text-align: center
    font-size: 18px
    background: #000
    display: -webkit-box
    -webkit-box-pack: center
    color: #000
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center

.swiper-button-prev, .swiper-button-next 
    width: 35px 
    height: 35px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &::after
        display: none

.swiper-button-prev
    margin-top: 50px
    left: 40px
    background-image: url("../assets/images/arrow-left.svg")

.swiper-button-next
    margin-top: 50px
    right: 40px
    background-image: url("../assets/images/arrow-right.svg")

.swiper-pagination-bullet
    transition: .3s
    opacity: 1
    border: 1px solid #fff

.swiper-pagination-bullet-active
    background: #930270
    border: 1px solid #930270

.services__props_swiper
    position: static
    
.services__props_swiper_block_adaptive
    display: none
    &.active
        display: block

.services__props_swiper_block
    display: block

@media (prefers-color-scheme: dark) 
  html 
    color-scheme: dark
  body 
    color: white

@media screen and ( max-width: 1024px)
  h1
    font-size: 91px
  

@media screen and ( max-width: 768px)
  h1
    font-size: 42px

  h2
    font-size: 48px
  
@media screen and ( max-width: 426px)
  h2
    font-size: 36px