@font-face
  font-family: "Vera Humana 95", sans-serif
  src: url('../assets/fonts/vera-humana-95.ttf')
  
@font-face
  font-family: "Circe", sans-serif
  src: url('../assets/fonts/circe-bold.ttf')
  src: url('../assets/fonts/circe.ttf')
  

html,
body 
  padding: 0
  width: 100%
  min-height: 100%
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  overflow-x: hidden

ul
  list-style: none
  padding: 0

a 
  color: inherit
  text-decoration: none

@media (prefers-color-scheme: dark) 
  html 
    color-scheme: dark  
  body 
    color: white
    background: #111111
