.section_services
    padding: 0 100px
    margin-top: 50px
    
    font-family: 'Vera Humana 95', cursive
    text-transform: uppercase
    font-weight: 400

.section_services__title
    margin-bottom: 20px

.section_services__img
    text-align: center
    display: none
    margin-top: 45px

.active
    display: block

.section_services__listprice
    display: flex

    flex-wrap: wrap



@media screen and ( max-width:1261px )
    .section_services__img
        display: none

@media screen and ( max-width: 1024px)
    .section_services
        padding: 0 15px

@media screen and ( max-width: 426px)
    .section_services__listprice
        flex-direction: column
    