.services_props_masters, .services_props_comments
    padding: 0 100px 50px
    margin-top: 75px
    position: relative
    h2
        margin-bottom: 50px

.services__props_inner
    padding: 30px
    p
        opacity: 0.6

        font-size: 16px
        color: #fff
        text-align: left
        margin: 16px 0 8px

.services__props_subtitles
    display: flex
    justify-content: space-between
    align-items: center
    span
        text-transform: uppercase
        color: #930270
        font-weight: 700
        font-size: 16px

.services__props_subtitle
    font-family: 'Vera Humana 95', cursive
    font-size: 18px
    margin: 0
    font-weight: 400
    text-transform: uppercase
    color: #fff



@media screen and ( max-width: 1024px)
    .services_props_masters, .services_props_comments
        padding: 0 15px 50px
        margin-top: 50px
    
    .services__props_inner
        padding: 15px